.checkout1{
    width: 90%;
    margin: auto;
}
.delivery{
    width: 650px;
}

.flexing{
    display: flex;
    justify-content: space-around;
}
.flexing1{
    display: flex;
    justify-content: space-evenly;
}
#paymentbtn{
    width: 30%;
    height: 40px;
    font-size: 20px;
    background-color: red;
    color: white;
    cursor: pointer;
    margin-left: 17%;
    margin-bottom: 50px;
}
#pricetabflex{
    display: flex;
    justify-content: space-between;
    margin: 50px 0px;
}
#pricetabflex>:nth-child(1){
    border: 1px solid black;
}
#pricetabflex>:nth-child(2){
    border: 1px solid gray;
    padding: 15px;
    width: 25%;
    height: 500px;
}
.checkoutpart0{
    display: flex;
}
#totalitsms{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 800;
}
.checkoutpart2{
    display: flex;
    justify-content: space-between;
}
.checkoutpart1{
    display: flex;
    justify-content: space-between;
}
.checkoutpart3{
    display: flex;
    justify-content: space-between;
}
#totalpriceshipping{
    font-weight: 700;
    font-size: 18px;
}
#div111{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    font-size: 20px;
}
.div222{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    font-size: 20px;
}
#btn1{
    width: 90%;
    height: 40px;
    border-radius: 8px;
    font-size: 25px;
    margin: auto;
    color: white;
    background-color: red;
    border: none;
}
#homeadd{
    width: 50%;
}
#homeadd>div{
    margin: 30px 0px 30px 30px;
    font-size: 20px;
    font-weight: 800;
}
input{
    width: 80%;
    height: 30px;
}
#phoneno{
    margin-left: 10px;
}
#add{
    margin-left: 22px;
}
#city{
    margin-left: 55px;
}
#state{
    margin-left: 48px;
}
#pincode{
    margin-left: 25px;
}
#error{
    margin-left: 30px;
    color: red;
    font-size: 18px;
}




